<footer itemscope itemtype="https://schema.org/Organization">
	{% include 'menu.html.twig' %}
{#
	{% include 'sponsor.html.twig' %}
#}

	<div class="footerIcons">
		<a itemprop="sameAs" href="https://bot.openbenches.org/" title="Mastodon"><img src="/images/svg/mastodon.svg" alt="Mastodon"></a>
		<a itemprop="sameAs" href="https://github.com/openbenches/openbenches.org" title="Github"><img src="/images/svg/github.svg" alt="GitHub"></a>
	</div>
	<a rel="license"
		href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="/images/cc/cc-by-sa.svg" id="cc-by-sa-logo" alt="Creative Commons Attribution Share-alike"></a>
	<br>Made with 💖 by<br>
	<a itemprop="founder" href="https://shkspr.mobi/blog">Terence Eden</a> and
	<a itemprop="founder" href="https://mymisanthropicmusings.org.uk/">Elizabeth Eden</a>.
	<hr>A project by <a href="https://openideas.ltd.uk/">Open Ideas Ltd.</a>
</footer>
<script>
if ("serviceWorker" in navigator) {
	
	// Register the service worker
	navigator.serviceWorker.register("/sw.js?cache=2023-12-21T08:31", {
		scope: "./"
	})
	.then(function (reg) {
		console.log("[PWA Builder] 2023-12-21 Service worker has been registered for scope: " + reg.scope);
	});

}
</script>
<script>
//	Animate Bench Counter
if ( !window.matchMedia('(prefers-reduced-motion: reduce)').matches ) {
	const counters = document.querySelectorAll('#counter');
	counter.innerText = 0
	value = 0
	const speed = 50; // The lower the faster

	counters.forEach(counter => {
		const updateCount = () => {
			const target = +counter.getAttribute('data-target');
			const count = value;

			const inc = target / speed;

			// Check if target is reached
			if (count < target) {
				// Add inc to count and formatted output in counter
				counter.innerText = Math.trunc(count + inc).toLocaleString('en-GB');
				value = Math.trunc(count + inc)
				// Call function every 100ms
				setTimeout(updateCount, 100);
			} else {
				counter.innerText = target.toLocaleString('en-GB');
			}
		};

		updateCount();
	});
}
</script>
