{% extends "base.html.twig" %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<div id="map"></div>
<aside class="info">
	Scroll and zoom on the map to find benches.
</aside>
{{ map_javascript() }}

{% include 'searchform.html.twig' %}

{% endblock %}
