{% extends "base.html.twig" %}

{% block title %}Log in with Mastodon{% endblock %}

{% block body %}
{% if error is defined %}
	<h2>{{ error }}</h2>
{% endif %}
<script>
	//	Hide the add button.
	document.getElementById("add").style = "display:none;"
</script>
<div class="button-bar">
	<form method="get"> 
		<h2>What is your Mastodon server?</h2>
		<input type="url" id="mastodon" name="mastodon" placeholder="https://example.social/" required class="search">
		<button class="button buttonColour"><span class="emoji">🐘</span> Authorise me!</button>
	</form>
</div>
{% endblock %}