{% extends "base.html.twig" %}

{# For inclusion in the base #}
{% block     title %}Offline{% endblock %}

{% block body %}

<h2>You are offline</h2>
<p>Connect to the Internet and try again</p>

{% endblock %}

