<div class="button-bar">
			
	<form action="/search/" enctype="multipart/form-data" method="get">
		<input type="search" class="search" id="inscription" name="search" 
		placeholder="in loving memory of"
		aria-label="Search" 
		value="{{ app.request.get("search") }}">
		<button type="submit" class="button"><span class="emoji">🔎</span> Search inscriptions</button>
	</form>

	<a class="button" href="/bench/random/"><span class="emoji">🔀</span> Random bench</a>
	<a class="button" href="/support/"><span class="emoji">🥰</span> Support OpenBenches</a>

</div>