{% extends "base.html.twig" %}

{# For inclusion in the base #}
{% block title %}Support OpenBenches{% endblock %}


{% block body %}

<h3>How to support OpenBenches</h3>
<div class="text">
	<p>We want to keep this website free for everyone - and free from advertising.</p>
	<p>If you'd like to support us, there are two great ways to get involved:</p><br>
	<h4>Swag!</h4>
	<p>You can <a href="https://openbenches.myspreadshop.co.uk/">buy a t-shirt, hat, mug, thermos, stickers, or other merchandise</a> with our logo on it.<br>Show off your gear while you're out benching!</p><br>
	<h4>Cash!</h4>
	<p>You can sponsor development of this site with a one-off or recurring payment.<br>We accept donations via <a href="https://github.com/sponsors/openbenches">GitHub sponsors</a> and <a href="https://opencollective.com/openbenches">Open Collective</a>.</p><br>
	<h4>Thanks!</h4>
	<p>We'd like to thank the following sponsors for their generosity:</p>
	<ul>
		<li><a href="https://leyton.org/">Richard Leyton</a></li>
		<li><a href="https://bensmith.uk/">Ben Smith</a></li>
	</ul>
</div>
{% endblock %}