{% extends "base.html.twig" %}

{# For inclusion in the base #}
{% block title %}Support OpenBenches{% endblock %}


{% block body %}

<h3>How to support OpenBenches</h3>
<div class="text">
	<p>We want to keep this website free for everyone - and free from advertising.</p>
	<p>If you'd like to support us, there are three great ways to get involved:</p><br>
	<h4>Join Krystal</h4>
	<p>OpenBenches is hosted on <a rel="sponsored" href="https://www.awin1.com/cread.php?s=3990878&v=117205&q=524267&r=1062999">Krystal.uk</a>. Use code <code>EDENT</code> for a discount on web hosting.</p>
	<a rel="sponsored" href="https://www.awin1.com/cread.php?s=3990878&v=117205&q=524267&r=1062999"><img src="/images/krystalplanetfriendlybanner.png" alt="Krystal Planet-friendly web-hosting from £7pcm" class="proxy-image"></a>
	<h4>Swag!</h4>
	<p>You can <a href="https://openbenches.myspreadshop.co.uk/all">buy a t-shirt, hat, mug, thermos, stickers, or other merchandise</a> with our logo on it.<br>Show off your gear while you're out benching!</p>
	<a href="https://openbenches.myspreadshop.co.uk/all"><img src="/images/swag.webp" alt="Various t-shirts, mugs, and caps with the OpenBenches logo." class="proxy-image"></a>
	<br>
	<h4>Cash!</h4>
	<p>You can sponsor development of this site with a one-off or recurring payment.<br>We accept donations via <a href="https://github.com/sponsors/openbenches">GitHub sponsors</a> and <a href="https://opencollective.com/openbenches">Open Collective</a>.</p><br>
	<h4>Thanks!</h4>
	<p>We'd like to thank the following sponsors for their generosity:</p>
	<ul>
		<li><a href="https://decoded.legal/">decoded.legal</a></li>
		<li><a href="https://leyton.org/">Richard Leyton</a></li>
		<li><a href="https://bensmith.uk/">Ben Smith</a></li>
	</ul>
</div>
{% endblock %}