// _partial/_comments.scss

.cmtx_comments_heading {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 0;
}

.cmtx_comments_row_one, .cmtx_comments_row_two {
    margin-bottom: 20px;
}

.cmtx_comments_row_three, .cmtx_comments_row_four {
    margin-top: 20px;
}

.cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
    background-color: $grey-lightest;
    border: 1px dotted $grey-lighter;
    color: $black !important;
    float: left;
    line-height: 25px;
    padding: 4px;
    vertical-align: middle;
    width: 33.3%;
}

.cmtx_row_left *, .cmtx_row_middle *, .cmtx_row_right * {
    height: 25px;
    line-height: 25px;
}

.cmtx_row_left {
    text-align: left;
}

.cmtx_row_middle {
    text-align: center;
}

.cmtx_row_right {
    text-align: right;
}

.cmtx_comment_section:first-of-type {
    margin-top: 7px;
}

.cmtx_comment_section:not(:last-of-type) {
    border-bottom: 1px dotted $grey-light;
    margin-bottom: 20px;
}

.cmtx_comment_box {
    line-height: 1;
    margin-bottom: 12px;
    padding: 5px;
    position: relative;
}

.cmtx_sticky_icon::before {
    color: $grey;
    content: '\f08d';
    cursor: default;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.9em;
    left: 49.6%;
    position: absolute;
}

.cmtx_avatar_area {
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}

.cmtx_avatar_area img {
    height: 72px;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    width: 72px;
}

.cmtx_level {
    background-color: $grey-dark;
    border-radius: 5px;
    color: $white;
    font-size: 0.7em;
    margin-top: -8px;
    padding-bottom: 1px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.cmtx_bio {
    background-color: $white;
    border: 1px solid $grey-light;
    bottom: -100px;
    color: $black !important;
    display: none;
    left: 20%;
    padding: 10px;
    padding-top: 3px;
    position: absolute;
    width: 180px;
    z-index: $z-index-bio;
}

.cmtx_bio_name {
    font-weight: bold;
    margin-bottom: 3px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.cmtx_bio img {
    height: 158px;
    width: 158px;
}

.cmtx_bio_info {
    margin-top: 5px;
    text-align: left;
}

.cmtx_bio_info div {
    display: table-row;
}

.cmtx_bio_info label {
    display: table-cell;
    font-weight: bold;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

.cmtx_bio_info span {
    font-weight: normal;
}

.cmtx_bio_info_likes span {
    color: $green;
}

.cmtx_bio_info_dislikes span {
    color: $red;
}

.cmtx_badge {
    background-color: $grey-dark;
    border-radius: 5px;
    color: $white;
    font-size: 12px;
    line-height: 3px;
    margin-top: 8px;
    padding-bottom: 1px;
    text-align: center;
    vertical-align: middle;
}

.cmtx_badge div {
    display: inline-block;
    vertical-align: middle;
}

.cmtx_badge_star_left, .cmtx_badge_star_right {
    color: $white;
    padding-top: 2px;
}

.cmtx_badge_star_left {
    float: left;
    margin-left: 3px;
}

.cmtx_badge_star_right {
    float: right;
    margin-right: 3px;
}

.cmtx_main_area {
    overflow: hidden;
    position: relative;
}

.cmtx_user_and_rating_area {
    min-height: 16px;
}

.cmtx_name_text, .cmtx_name_text span {
    font-weight: bold;
}

.cmtx_name a {
    text-decoration: none;
}

.cmtx_name_admin, .cmtx_name_admin a {
    color: $green-dark;
    font-weight: bold;
}

.cmtx_rating_area {
    cursor: default;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 0;
}

.cmtx_star::before {
    content: '\f005';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.1em;
}

.cmtx_star_empty {
    color: $star-empty;
}

.cmtx_star_full {
    color: $star-full;
}

.cmtx_headline_area {
    margin-top: 10px;
}

.cmtx_headline_area .fa-quote-left, .cmtx_headline_area .fa-quote-right {
    color: $grey-darker;
    font-size: 12px !important;
}

.cmtx_headline_text {
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
}

.cmtx_comment_area {
    margin-bottom: 13px;
    margin-top: 10px;
}

.cmtx_comment_area p {
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-bottom: 0;
    padding-top: 0;
}

.cmtx_code_box, .cmtx_php_box, .cmtx_quote_box {
    background: $grey-lighter;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}

.cmtx_reply_area .cmtx_admin_reply {
    color: $green-dark;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

.reply_indent_0 {
    margin-left: 0;
}

.reply_indent_1 {
    margin-left: 25px;
}

.reply_indent_2 {
    margin-left: 50px;
}

.reply_indent_3 {
    margin-left: 75px;
}

.reply_indent_4 {
    margin-left: 100px;
}

.reply_indent_5 {
    margin-left: 125px;
}

.cmtx_extra_fields_area {
    background-color: $grey-lightest;
    border: 1px solid $grey-lighter;
    border-radius: 8px;
    color: $black !important;
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px;
}

.cmtx_extra_fields_area span {
    font-weight: bold;
}

.cmtx_upload_area {
    margin-bottom: 20px;
}

.cmtx_upload {
    display: inline-block;
    height: auto;
    margin-top: 10px;
    max-width: 400px;
    width: auto;
}

.cmtx_comments_container .cmtx_upload_area a {
    cursor: pointer;
}

.cmtx_upload_area a {
    text-decoration: none;
}

.cmtx_upload_area a:not(:last-child) {
    margin-right: 10px;
}

.cmtx_lightbox_modal.cmtx_modal_box .cmtx_modal_body {
    max-height: none;
}

.cmtx_lightbox_modal .cmtx_lightbox_image {
    max-height: 80vh;
    max-width: 80vw;
    min-width: 200px;
}

.cmtx_date_and_action_area {
    min-height: 16px;
}

.cmtx_date_area {
    color: $grey;
    float: left;
    font-size: 0.8em;
    font-weight: normal;
}

.cmtx_edited::before {
    content: ' ';
    white-space: pre;
}

.cmtx_action_area {
    float: right;
}

.cmtx_action_area div {
    display: inline-block;
}

.cmtx_action_area div:not(:last-of-type) {
    margin-right: 15px;
}

.cmtx_action_area a, .cmtx_action_area a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_icon::before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.9em;
    font-weight: normal;
}

.cmtx_like_icon::before {
    color: #006400;
    content: '\f087';
}

.cmtx_dislike_icon::before {
    color: #d12f19;
    content: '\f088';
}

.cmtx_share_icon::before {
    color: $grey;
    content: '\f1e0';
}

.cmtx_flag_icon::before {
    color: $grey;
    content: '\f11d';
}

.cmtx_edit_icon::before {
    color: $grey;
    content: '\f040';
}

.cmtx_delete_icon::before {
    color: $grey;
    content: '\f014';
}

.cmtx_permalink_icon::before {
    color: $grey;
    content: '\f0c1';
}

.cmtx_reply_icon::before {
    color: $grey;
    content: '\f112';
}

.cmtx_like_count {
    color: $green-dark;
    font-weight: bold;
}

.cmtx_dislike_count {
    color: $red-dark;
    font-weight: bold;
}

@keyframes like_keyframe {
    0% {
        background: #529214;
    }

    100% {
        background: none;
    }
}

.like_animation {
    animation-duration: 2s;
    animation-name: like_keyframe;
}

@keyframes dislike_keyframe {
    0% {
        background: #d12f19;
    }

    100% {
        background: none;
    }
}

.dislike_animation {
    animation-duration: 2s;
    animation-name: dislike_keyframe;
}

.cmtx_action_message {
    background-color: $white;
    cursor: default;
    display: none;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    width: fit-content;
}

.cmtx_action_message_success {
    border: 1px solid $green-dark;
    color: $green-dark;
}

.cmtx_action_message_error {
    border: 1px solid $red-dark;
    color: $red-dark;
}

.cmtx_share_box, .cmtx_permalink_box {
    background-color: $grey-lightest;
    border: 1px solid $grey-light;
    cursor: default;
    display: none;
    font-family: 'Lucida Grande', Tahoma, Arial, Verdana, sans-serif;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    position: absolute;
    width: auto;
}

.cmtx_share_box {
    padding-left: 8px;
    padding-right: 8px;
}

.cmtx_share_box a {
    outline: none;
}

.cmtx_share {
    background-image: url('../../image/share/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

.cmtx_share_box a:not(:first-child) {
    margin-left: 12px;
}

.cmtx_share_digg {
    background-position: -31px -31px;
}

.cmtx_share_facebook {
    background-position: -57px -5px;
}

.cmtx_share_linkedin {
    background-position: -57px -31px;
}

.cmtx_share_reddit {
    background-position: -5px -5px;
}

.cmtx_share_twitter {
    background-position: -31px -5px;
}

.cmtx_share_weibo {
    background-position: -5px -31px;
}

.cmtx_view_replies_area {
    bottom: 0;
    font-size: 0.9em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

.cmtx_view_replies_area a, .cmtx_view_replies_area a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_view_replies_area a i {
    color: $grey-dark;
}

.cmtx_view_replies_link {
    color: $blue;
}

.cmtx_reply_num {
    font-weight: bold;
}

.cmtx_permalink_box {
    color: $black !important;
}

.cmtx_permalink_box input {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0 0 0 2px;
    width: 200px;
}

.cmtx_permalink_box a {
    color: $blue;
    font-size: 0.9em;
    text-decoration: none;
}

.cmtx_youtube_container iframe {
    height: auto;
    max-width: 100%;
}

.cmtx_loading_body {
    opacity: 0.3;
}

.cmtx_loading_icon {
    animation: fa-spin 2s infinite linear;
    display: none;
    left: 50%;
    margin-top: -20px;
    position: fixed;
    top: 50%;
}

.cmtx_loading_icon::before {
    content: '\f110';
    font-family: FontAwesome;
    font-size: 20px;
}

@media all and (max-width: 800px) {
    .cmtx_comments_row_one, .cmtx_comments_row_two {
        margin-bottom: 0;
    }

    .cmtx_comments_row_three, .cmtx_comments_row_four {
        margin-top: 0;
    }

    .cmtx_row_left, .cmtx_row_middle, .cmtx_row_right {
        float: none;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
    }

    .cmtx_reply_view, .cmtx_reply_replies {
        display: none;
    }

    .cmtx_return {
        margin-bottom: 12px;
    }

    .cmtx_empty_position {
        display: none;
    }
}

@media all and (max-width: 650px) {
    .cmtx_comment_box {
        text-align: center;
    }

    .cmtx_comment_area ul, .cmtx_comment_area ol {
        display: inline-block;
    }

    .cmtx_sticky {
        padding-bottom: 15px;
        padding-top: 10px;
    }

    .cmtx_content_area {
        margin-left: 0 !important;
    }

    .cmtx_avatar_area {
        float: none;
        margin-right: 0;
    }

    .cmtx_level {
        left: 0;
        margin: 0 auto;
        margin-top: -8px;
        right: 0;
        width: 72px;
    }

    .cmtx_main_area {
        margin-top: 10px;
    }

    .cmtx_user_and_rating_area {
        min-height: 0;
    }

    .cmtx_user_area {
        margin-top: 15px;
    }

    .cmtx_headline_area {
        margin-top: 15px;
    }

    .cmtx_rating_area {
        margin-bottom: 10px;
        margin-top: 10px;
        position: static;
    }

    .cmtx_reply_area .cmtx_admin_reply {
        float: none;
    }

    .cmtx_upload_area img:not(:last-child) {
        margin-bottom: 15px;
        padding-right: 0;
    }

    .cmtx_upload {
        max-width: 90%;
    }

    .cmtx_code_box, .cmtx_php_box {
        text-align: left;
    }

    .cmtx_date_and_action_area {
        min-height: 0;
    }

    .cmtx_date_area {
        float: none;
    }

    .cmtx_action_area {
        float: none;
        margin-top: 14px;
    }

    .cmtx_view_replies_area {
        margin-top: 15px;
        position: static;
        transform: none;
    }

    .cmtx_reply_view, .cmtx_reply_replies {
        display: inline;
    }
}

/**************************** Outer *****************************/

/* Average Rating */

.cmtx_average_rating {
    display: inline-block;
    margin-left: -4px;
    vertical-align: middle;
}

.cmtx_average_rating > input {
    display: none;
}

.cmtx_average_rating > label::before {
    content: '\f005';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.1em;
    line-height: 0;
    margin: 5px;
}

.cmtx_average_rating > label {
    color: $star-empty;
    float: right;
    padding: 0;
    width: auto;
}

.cmtx_average_rating > input:checked ~ label { // the rating
    color: $star-full;
}

.cmtx_average_rating_can_rate:not(:checked) > label:hover { // currently hovered star
    color: $star-full;
}

.cmtx_average_rating_can_rate:not(:checked) > label:hover ~ label { // stars before the currently hovered star
    color: $star-full;
}

.cmtx_average_rating_can_rate > input:checked + label:hover, .cmtx_average_rating_can_rate > input:checked ~ label:hover, .cmtx_average_rating_can_rate > label:hover ~ input:checked ~ label, .cmtx_average_rating_can_rate > input:checked ~ label:hover ~ label {
    color: $star-hover;
}

.cmtx_average_rating_stats {
    font-size: 0.8em;
    vertical-align: middle;
}

.cmtx_average_rating_block div[itemprop] {
    display: inline-block;
}

/* Notify */

.cmtx_notify_block a, .cmtx_notify_block a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_notify_icon::before {
    color: $grey-dark;
    content: '\f003';
    font-size: medium;
}

.cmtx_notify_text {
    padding-left: 2px;
}

.cmtx_message_notify a {
    color: $blue;
    text-decoration: none;
}

/* Online */

.cmtx_online_icon::before {
    color: $grey-dark;
    content: '\f0c0';
    font-size: medium;
}

.cmtx_online_icon {
    padding-right: 2px;
}

/* Page Number */

.cmtx_page_number {
    font-weight: normal;
}

/* Pagination */

.cmtx_pagination_url, .cmtx_pagination_url * {
    text-decoration: none !important;
}

.cmtx_pagination_box {
    background: none repeat scroll 0 0 $grey-lightest;
    border: 1px solid $grey-lighter;
    color: $grey;
    font-size: 14px;
    padding: 0 4px;
}

.cmtx_pagination_box:not(.cmtx_pagination_box_active) {
    cursor: pointer;
}

.cmtx_pagination_block span:not(:first-of-type) {
    margin-left: 1px;
}

.cmtx_pagination_box:hover {
    border: 1px solid #9e9e9e;
}

.cmtx_pagination_box_active {
    background: none repeat scroll 0 0 $grey-dark;
    border: 1px solid $grey-dark;
    color: $white;
}

/* RSS */

.cmtx_rss_block a, .cmtx_rss_block a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_rss_icon::before {
    color: $orange;
    content: '\f143';
    font-size: medium;
}

.cmtx_rss_text {
    padding-left: 2px;
}

/* Search */

.cmtx_search_container {
    position: relative;
}

.cmtx_search {
    border: 1px solid $grey-light;
    border-radius: 4px;
    display: inline-block !important;
    font-family: inherit;
    font-size: inherit;
    height: 25px !important;
    line-height: 25px;
    margin: 0 !important;
    padding: 0 0 0 5px !important;
    position: static;
    transition: width 500ms !important;
    width: 125px !important;
}

.cmtx_search::-webkit-search-cancel-button {
    display: none;
}

.cmtx_search::-ms-clear {
    display: none;
}

.cmtx_search_focus {
    width: 225px !important;
}

.cmtx_search_container .fa-search {
    bottom: 50%;
    color: $grey-light;
    cursor: pointer;
    font-size: 12px !important;
    height: 12px;
    position: absolute;
    right: 5px;
    transform: translateY(50%);
}

.cmtx_search_wrapper {
    display: inline-block;
    position: relative;
}

/* Social */

.cmtx_social {
    background-image: url('../../image/social/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.cmtx_social_block a:not(:first-child) {
    margin-left: 10px;
}

.cmtx_social_digg {
    background-position: -31px -31px;
}

.cmtx_social_facebook {
    background-position: -57px -5px;
}

.cmtx_social_linkedin {
    background-position: -57px -31px;
}

.cmtx_social_reddit {
    background-position: -5px -5px;
}

.cmtx_social_twitter {
    background-position: -31px -5px;
}

.cmtx_social_weibo {
    background-position: -5px -31px;
}

/* Sort By */

.cmtx_sort_by_text {
    color: $grey;
    font-size: 0.8em;
}

.cmtx_sort_by_field {
    display: inline-block !important;
    font-family: inherit;
    font-size: inherit;
    height: auto !important;
    height: 25px !important;
    line-height: 25px;
    padding: 0 !important;
    position: static;
    width: auto !important;
}

/* Topic */

.cmtx_topic_block {
    overflow: auto;
}

.cmtx_topic_intro {
    font-weight: normal;
}

.cmtx_topic {
    font-weight: bold;
}

/* More Comments */

.cmtx_more_button_row {
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
}

/* Return */

.cmtx_return {
    background-color: $grey-lightest;
    border: 1px dotted $grey-lighter;
    height: 35px;
    line-height: 25px;
    padding: 4px;
    text-align: center;
}

.cmtx_return a, .cmtx_return a * {
    outline: 0;
    text-decoration: none !important;
}

.cmtx_return_icon::before {
    color: $grey-dark;
    content: '\f0e2';
}