Options -Indexes

Header always set X-Robots-Tag "noimageai"
Header always set X-Robots-Tag "noai"

<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /

        RewriteCond %{HTTPS} off
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

        RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
        RewriteRule ^ %1 [L,NE,R=302]

        RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>
