<?php
//	Share to Twitter
define('OAUTH_CONSUMER_KEY',    '');
define('OAUTH_CONSUMER_SECRET', '');
define('OAUTH_ACCESS_TOKEN',    '');
define('OAUTH_TOKEN_SECRET',    '');

//	Admin login via Twitter
define('ADMIN_CONSUMER_KEY',    '');
define('ADMIN_CONSUMER_SECRET', '');

//	Database
define('DB_IP',   '');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_TABLE','');

//	Email notifcations
define('NOTIFICATION_EMAIL','');

//	flickr
define('FLICKR_API_KEY', '');

//	Unique link for editing
//	https://secure.php.net/manual/en/function.crypt.php
define('EDIT_SALT', '');

//	Reverse Geocoding
//	https://geocoder.opencagedata.com/api
define('OPENCAGE_API_KEY', '');

//	Satellite Imagery
//	https://developers.arcgis.com/documentation/mapping-apis-and-services/maps/basemap-layers/
define('ESRI_API_KEY', '');

//	Auth0 login services
//	https://auth0.com/
define('AUTH0_DOMAIN',           '');
define('AUTH0_CLIENT_ID',        '');
define('AUTH0_CLIENT_SECRET',    '');
define('AUTH0_CALLBACK',         '');
define('AUTH0_AUDIENCE',         '');
define('AUTH0_LOGOUT_RETURN_URL','');

//	For sharing on Facebook
define('FACEBOOK_APP_ID', '');

//	Image Cacheing and resizing - using https://cloudimg.io/ or other similar CDN
define('IMAGE_CACHE_PREFIX', 'https://demo.cloudimg.io/v7/');
define('IMAGE_DEFAULT_SIZE', '600');
define('IMAGE_THUMB_SIZE',   '120');

//	Google Cloud Vision - https://cloud.google.com/console
define('CLOUD_VISION_KEY','');

//	Cloudinary Social Media Profile Image - https://cloudinary.com/documentation/social_media_profile_pictures
define('CLOUDINARY_KEY', '');