<?php
define('OAUTH_CONSUMER_KEY',    '');
define('OAUTH_CONSUMER_SECRET', '');

define('DB_IP',   '');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_TABLE','');

define('NOTIFICATION_EMAIL','');
