<?php
//	Share to Twitter
define('OAUTH_CONSUMER_KEY',    '');
define('OAUTH_CONSUMER_SECRET', '');
define('OAUTH_ACCESS_TOKEN',    '');
define('OAUTH_TOKEN_SECRET',    '');

//	Admin login via Twitter
define('ADMIN_CONSUMER_KEY',    '');
define('ADMIN_CONSUMER_SECRET', '');

//	Database
define('DB_IP',   '');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_TABLE','');

//	Email notifcations
define('NOTIFICATION_EMAIL','');

//	flickr
define('FLICKR_API_KEY', '');

//	Unique link for editing
//	https://secure.php.net/manual/en/function.crypt.php
define('EDIT_SALT', '');

//	Reverse Geocoding
//	https://geocoder.opencagedata.com/api
define('OPENCAGE_API_KEY', '');
