@font-face {
	font-family: 'varela_roundregular';
	src: url('/fonts/varelaround-regular-webfont.woff2') format('woff2'),
	     url('/fonts/varelaround-regular-webfont.woff')  format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'varela_roundregular', sans-serif;
	font-size: 1.25em;
	margin: 1em;
	background-color: #F1F3F4;
	color: #191E20;
	text-align: center;
	word-wrap: break-word;
}

#map{
	width: 600px;
	height: 400px;
	max-width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	border: 0.1rem solid #191E20;
}

iframe{
	max-width: 100%;
	border: 0.1rem solid #191E20;
}

fieldset {
	width: 0;
	text-align: left;
	margin: auto;
}

.hand-drawn {
	color: #F0F3F4;
	background-color:#107895;
	padding: 0.5em;
	border-radius: .75em;
	text-decoration: none;
	line-height: 2.5em;
	border: none;
	cursor: pointer;
	white-space: nowrap;
}

.button-bar {
	margin-bottom: 0.5em;
}

.button-form {
	display: inline;
}

button, input {
	line-height: 1em !important;
}

.search {
	margin-bottom: 0.5em;
}

#search-results {
	text-align: left;
}

#header-image {
	width: 1.5em;
	vertical-align: text-bottom;
}

.proxy-image {
	max-width: 100%;
	border: 0.1rem solid #191E20;
}

ol {
	padding-left: 0px;
}

textarea {
	max-width: 95%;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	font-weight: normal;
}

a {
	color: #191E20;
}

hr {
	margin: 1em;
}

.leaflet-control-layers-base{
	text-align: left;
}

.benchImage{
	position: relative;
}

.caption-heading {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.45rem;
}


.caption {
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.4em;
	font-size: 0.5em;
	max-width: 590px;
	display: inline-flex;
}

.caption a {
	color: white;
}

input[type="file"] {
	font-size: 1rem;
}

.photo-group {
	overflow-x: auto;
}

small {
	font-size: 0.8rem;
}
