html, body {
	font-family: 'Architects Daughter', cursive;
	font-size: 1.25em;
}

.hand-drawn {
	align-self: center;
	background: transparent;
	padding: 0.5em 0.5em;
	/*margin: 0 1em;*/
	transition: all .5s ease;
	color: #41403E;
	/*font-size: 2em;*/
	/*letter-spacing: 1px;*/
	outline: none;
	box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	box-sizing: border-box;
	border: solid 2px #41403E;
}

.button-bar {
	padding-bottom: 1em;
	padding-top: 1em;
	clear: both;
}

#proxy-image {
	max-width: 90%;
	padding: 0em;
}

h1, h2 {
	margin: 0;
}


	#map{
		float:left;
		width: 600px;
		height: 400px;
		max-width: 90%;
		z-index: 1;
	}
	#benchImage{
	}
