body {
	font-family: 'Varela Round', sans-serif;
	font-size: 1.25em;
	margin: 1em;
	background-color: #F1F3F4;
	color: #191E20;
	text-align: center;
}

#map{
	width: 600px;
	height: 400px;
	max-width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	border: 0.1em solid #191E20;
}

iframe{
	max-width: 100%;
	border: 0.1em solid #191E20;
}

fieldset {
	display: contents;
}

.hand-drawn {
	color: #F0F3F4;
	background-color:#107895;
	padding: 0.5em;
	border-radius: .75em;
}

.button-bar {
	margin-bottom: 1em;
}

#search-results {
	text-align: left;
}

#header-image {
	width: 1.5em;
	vertical-align: text-bottom;
}

.proxy-image {
	max-width: 100%;
}

ol {
	padding-left: 0px;
}

textarea {
	max-width: 95%;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}
