/*	Philosophy
	* All units expressed in rem where possible.
	* Single column layout.
	* Modern formats only (woff2 and webp).
	* Prefer variables.
*/

/* Resets from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
	box-sizing: border-box;
}
*:not(dialog) {
	margin: 0;
}

/* Variables. */
:root {
	/* Colours from logo. */
	--plaque-gold:  #FFBA00;
	--sky-blue:     #7EB1C8;
	--grass-green:  #070;
	--ground-brown: #8c5015;
	--white:        #F0F0F0;	/* Soft white for contrast on the above. */
	--black:        #040404;	/* Soft black for text & links. */ 
	--black-border: #191E20DD;	/* Slightly softer black for borders. */
	--danger-zone:  #FF0000;

	/* Borders. */
	--border-width: .3rem;
	--main-width:  calc( 800px );
	--max-width:   100%;
	--image-width: 600px;
	--radius: 1rem;

	/* Fonts. */
	--line-height: 1.6rem;
	--font-big:    1.75rem;
	--font-normal: 1.25rem;
	--font-small:  1rem;

	/* Buttons. */
	--button-width: 19rem;

	/* General. */
	scroll-behavior: smooth;
}

/* Fonts. */
@font-face {
	font-family: "varela_roundregular";
	src: url("/fonts/varelaround-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* TODO: Page transitions. */
@view-transition {
	navigation: auto;
}

/* Elements */
body {
	font-family: "varela_roundregular", sans-serif;
	margin: .25rem 0 0 0;
	padding: 0;
	text-align: center;
	background-color: var(--white);
	/* https://www.transparenttextures.com/tileable-wood-colored.html */
	background-image: url("/images/textures/tileable-wood-colored.webp");
	background-attachment: fixed;
}
body * {
	/* For narrow viewports. */
	word-wrap: break-word;
}
/* Headings. */
h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
	width: fit-content;	/* Prevent backdrop-filter extending to width of parent. */
	max-width: min( var(--main-width), 100% );
	margin: .5rem auto 0 auto;	/* Little bit on top. Nothing on bottom to align with next box. */
	backdrop-filter: blur(.5rem);	/* Better clarity on background textures. */
}
h1 {
	font-size: var(--font-big);
}
h1 a {
	color: var(--black);
	text-decoration: none;
}
h2 {
	line-height: 2rem;
	font-size: var(--font-big);
}
h2 a {
	color: var(--black);
}
select {
	max-width: var(--max-width);
}

/* General text. */
p {
	line-height: var(--line-height);
	font-size: var(--font-normal);;
}

/* Photo Preview. */
canvas {
	max-width: 100%;
}

/* Buttons. */
.button {
	background: var(--plaque-gold);
	color: var(--black);
	font-weight: bold;
	cursor: pointer;
	border-radius: .2em;
	display: inline-block;
	padding: .3em .9em;
	text-decoration: none;
	width: var(--button-width);
	margin: .5rem;
}
.button:hover {
	filter: brightness( 90% );	/* Dim on hover. */
}
.button:active {
	transform: translateY(.25rem) translateX(.25rem);	/* Click effect. */
}
.emoji {
	text-shadow: .1rem .1rem black;	/* Outline for emoji for better contrast. */
	vertical-align: text-bottom;
}

/* Top of each page. */
hgroup {
	margin: 0 auto 1rem auto;
	padding: 1rem;
	border-radius: var(--radius);
	width: var(--main-width);
	max-width: var(--max-width);
	border: var(--border-width) solid var(--black-border);
	background-color: var(--sky-blue);
	/* https://www.transparenttextures.com/clean-gray-paper.html */
	background-image: url("/images/textures/clean-gray-paper.webp");
}
#header-image {
	width: 1.5em;	/* Based on font size set in h1. */
	vertical-align: bottom;
	border: .1rem solid var(--white);
	border-radius: 100%;
	margin: 0 .5rem;
}
#counter {
	font-variant-numeric: tabular-nums;	/* Prevent counter from jumping too much. */
}

/* Gold block. */
#benchInscription, #taglist {
	margin: 0 auto 1rem auto;
	padding: 1rem;
	border-radius: var(--radius);
	background: var(--plaque-gold);
	text-wrap: balance;
	width: var(--main-width);
	max-width: var(--max-width);
	border: var(--border-width) solid var(--black-border);
	background-color:  var(--plaque-gold);
	/* https://www.transparenttextures.com/brushed-alum-dark.html */
	background-image: url("/images/textures/brushed-alum-dark.webp");
}

/* Bench images. */
img.proxy-image {
	border-radius: var(--radius) var(--radius) 0 0;
	margin: 0 0 -1rem 0;
	width: var(--main-width);
	max-width: 100%;	/* Prevent overflow. */
	height: auto;	/* Prevent aspect ratio issues. */
}

/* Tags. */
#taglist {
	line-height: 1rem;
  	font-size: var(--font-normal);
}
#taglist a {
	color: var(--black);
	padding: .5rem;
	display: inline-block;
}

/* Creative Commons. */
.cc-icon{
	max-width: 7rem;
	margin-top: .5rem;
	vertical-align: sub;
}

/* Info box/ */
.info ul {
	list-style: none;
	margin: 0;
	border-radius: 0 0 var(--radius) var(--radius);
	padding-left: 0;
}
.info li {
	display: inline-block;
	padding: 0 .5rem; /* Try to maximise width of infobox. */
}

#map, #search-results, table, .main {
	margin: 0 auto;
	line-height: 0;	/* Prevent small gap between elements. */
	border: var(--border-width) solid var(--black-border);
	border-radius: var(--radius) var(--radius) 0 0; 
	border-bottom: 0;
	width: var(--main-width);
	max-width: var(--max-width);
	background-color:var(--grass-green);
	/* https://www.transparenttextures.com/dark-stripes.html */
	background-image: url("/images/textures/dark-stripes.webp");
}

/* The map. */
#map {
	height: calc( var(--main-width) );
	background: #000;
	background-image: url("/images/textures/stars.webp");
	max-height: 70vh;	/* Don't let map get too big to make scrolling easier. */
	z-index: 1;
	word-break: normal !important; /* For text. */
	line-height: var(--line-height); /* For attribution. */
}
/* Cluster links. */
.maplibregl-popup-content a {
	color: var(--black);
	background: var(--plaque-gold);
	padding: .5em;
}
.maplibregl-popup-content hr {
	margin: .5em 0;
}

/* Photo upload. */
.photo-group {
	overflow-x: auto;
	display: block;
	font-size: var(--font-normal);
	color: var(--white);
	padding: 0;
}
.file_input_button {
	position: relative;
}
.upload-prompt {
	border: 0.25rem dashed var(--plaque-gold);
	padding: 0.5rem;
	line-height: 3rem;
}
/* Hide the file input button. */
input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
}
.media-select * {
	font-size: var(--font-normal);
}

/* User editable inscription box. */
#inscriptionBox {
	padding: 0;
	background: var(--white);
}
textarea {
	width: 96%; /* TODO Find better way to set this width. */
	max-width: 90%;
	border-radius: var(--radius);
	border: none;
	margin: 1rem;
	background-color: var(--white);
	font-size: var(--font-normal);
}
#ocr-icon {
	vertical-align: center;
}

/* Tags. */
#tagInput {
	line-height: 3rem;
	font-size: var(--font-normal);
	color: var(--white);
}
#tagInput label {
	display: contents;
}
[type="checkbox"] {
	opacity: 0;
	width: 0;
	position: absolute;
	display: inline-block;
}
:not(:checked) + .toggle::before {
	content: "⬜\00A0";	/* Non-breaking space needed to prevent label wrap. */
	text-shadow: .1rem .1rem black;
}
:checked + .toggle::before {
	content: "✅\00A0";	/* Non-breaking space needed to prevent label wrap. */
	text-shadow: .1rem .1rem black;
}
:checked + .toggle, :checked + .toggle:hover {
	background: var(--sky-blue);
}
.toggle {
	cursor: pointer;
	border: .1rem var(--black-border) solid;
	border-radius: var(--radius);
	background: var(--white);
	color: var(--black);
	line-height: 1rem;
}
[type] + .toggle {
  margin: .25rem;
  width: auto;
  padding: .75rem;
}
label {
	display: inline-block;
	line-height: var(--line-height);
}

/* Style the progress bar as per https://verpex.com/blog/how-to-style-a-progress-bar-using-css */
progress[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: var(--white);
}
progress[value]::-webkit-progress-bar {
	background: var(--white);
}
progress[value]::-webkit-progress-value {
	background: var(--plaque-gold);
}
progress[value]::-moz-progress-bar {
	background: var(--plaque-gold);
}

/* Co-ordinate display. */
#coordinates {
	background: var(--white);
	color: var(--black);
	text-align: center;
	font-size: var(--font-small);
	border: none;
	margin-top: .5rem;
}

/* Creative Commons Info Notice */
#cc-small p {
	color: var(--white);
	font-size: var(--font-small);
	line-height: var(--line-height);
	padding: 1rem;
}

/*  Edit Page */
.danger {
	background: var(--danger-zone) !important;
}

/* Sortable tables for contributors and cameras  */
table {
	line-height: 2.5rem;
	font-size: var(--font-normal);
	border-collapse: collapse;
	border: none;
	color: var(--white);
	table-layout: fixed;	/* Prevent column size changing on sort. */
}
th {
	background: var(--ground-brown);
	color: var(--white);
}
th, td {
	border: .1rem solid;
	padding: 0 1rem;
}
th.ascending::after {
	content: " ▲";	/* Show which direction data are being sorted. */
	font-size: 0.8rem;
}
th.descending::after {
	content: " ▼";	/* Show which direction data are being sorted. */
	font-size: 0.8rem;
}
td.name {
	text-align: left;
	word-break: break-word;	/* Stop text overflow. */
}
.name a {
	display: initial !important;	/* Don't flex on leaderboard. */
}
td.count {
	text-align: right;
}
td a {
	vertical-align: middle;
}

/* Search. */
#search-results {
	display: inline-block;
}
#search-results h2 {
	color: var(--white);
}
#search-results a {
	display: flex;
	align-items: flex-start;
}
#search-results ol {
	padding: 0;
}
#search-results li {
	margin: 0;
	border-bottom: .1rem solid var(--white);
	padding: .5rem .1rem;
	width: 100%;
	display: flex;
	line-height: var(--line-height);
	text-align: left;
	font-size: var(--font-normal);
}
#search-results a {
	text-decoration: none;
}
.search-thumb {
	margin-right: 1rem;
	flex-shrink: 0;
	border-radius: var(--radius);
	width: calc( var(--max-width) / 4);
}
/* Pagination buttons. */
.moreResults {
	text-align: right;
}
.previousResults {
	text-align: left;
}

/* Block under a main block. */
aside, #pagination, .media-select, .info {
	margin: 0 auto 1rem auto;
	font-weight: bold;
	border: var(--border-width) solid var(--black-border);
	border-top: 0;
	border-radius: 0 0 var(--radius) var(--radius);
	background: var(--ground-brown);
	color: var(--white);
	width: var(--main-width);
	padding: 1rem;
	max-width: var(--max-width);
	display: block;
	background-color: var(--ground-brown);
	/* https://www.transparenttextures.com/dark-stripes.html */
	background-image: url("/images/textures/dark-stripes.webp");
}

/* Links. */
a {
	color: var(--white);
}

/* Geocoded addresses. */
address {
	font-style: normal;	/* Reset. Default is italic. */
}
address::before {
	content: "Near: ";
	font-size: var(--font-small);
}
/* Show a comma after each address element except the last one. */
.address:not(:last-child)::after {
	content: ",";
}
/* Map pin on geolocation. */
#latlong::before {
	content: "📍 ";
}
code {
	font-size: var(--font-small);
}

/* Buttons. */
.button-bar {
	width: var(--main-width);
	margin: 0 auto 1rem auto;
	margin-bottom: 0.5rem;
	padding: .5rem;
	text-wrap: balance;
	border: var(--border-width) solid var(--black-border);
	border-radius: var(--radius);
	max-width: var(--max-width);
	background-color: var(--sky-blue);
	/* https://www.transparenttextures.com/clean-gray-paper.html */
	background-image: url("/images/textures/clean-gray-paper.webp");
}

.button-bar * {
	line-height: var(--line-height);
	font-size: var(--font-normal);
	border: 0;
	color: var(--black);
}

/* Inputs. */
input[type="search"]::placeholder {
	text-align: center;
}
input#inscription {
	border-radius: .2em;
}

button, .button, [type="submit"], .dropimage {
	width: var(--button-width);
	max-width: 90%;
	padding: .3rem .9rem;
	font-family: inherit;	/* Reset for extra bolding on buttons. */
	outline: 0.1rem var(--black-border) solid;
}

.search {
	width: var(--button-width);
	max-width: 90%;
	margin: .5rem;
	padding: .4rem .9rem;	/* TODO: Better calculation of size to match buttons. */
	outline: .1rem var(--black-border) solid;
	vertical-align: top;	/* Line up with buttons. */
}

/* Footer. */
footer {
	display: block;
	padding: 1rem;
	color: var(--white);
	font-size: var(--font-normal);
	line-height: 2rem;
	/* https://www.transparenttextures.com/buried.html */
	background: var(--ground-brown) url("/images/textures/buried.webp");
}
footer ul.menu {
	margin-bottom: 0;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
}
ul.menu li {
	display: inline-block;
}
ul.menu li:not(:last-of-type)::after {
	content: " · ";
}
footer .footerIcons img {
	width:  3rem;
	height: 3rem;
	margin: .25rem;
}
footer #cc-by-sa-logo {
	height: var(--font-big);
}

/* Grass Verge. */
#grass {
	/* https://pixabay.com/illustrations/grass-flowers-border-seamless-7318026/ */
	background-image: url("/images/textures/grass.webp");
	height: 200px;	/* Slightly smaller than the height of the image. */
	position: relative;	/* Overlap with prevous element. */
}
/* Previous sibling selector. */
div:has(+ #grass) {
	margin-bottom: -2rem;
}

/* Comments. */
#commentics {
	margin: 0 auto 1rem auto;
	border: var(--border-width) solid var(--black-border);
	border-radius: var(--radius);
	background: var(--white);
	color: var(--white);
	width: var(--main-width);
	padding: 0;
	max-width: var(--max-width);
	visibility: visible; 
	overflow: hidden;
}
#cmtx_iframe {
	background: var(--white);
}
/* These are placed in Commentics' theme settings. */
.cmtx_iframe_body {
	margin: 1rem;
}
.cmtx_admin_button {
	box-shadow: none;
	cursor: pointer;
}
.cmtx_flag_area {
	/* Remove flag button. Can also be removed in settings. */
	display: none !important;
}
.cmtx_date {
	color: #040404;	/* Can't use variables in theme. */
}
.cmtx_divider_section {
	display: none;	/* Better spacing. */
}
.cmtx_comment_section:not(:last-of-type) {
	border-bottom: 1px solid black;	/* Can't use variables in theme. */
}

/* User images. */
.avatar {
	/* Keep avatar same height as text and inline with it. */
	vertical-align: text-bottom;
	height: var(--font-big);
  	width:  var(--font-big);
}

/* Add bench instructions. */
#android-instructions a {
	color: var(--black);
}

/* Map popup buttons. */
.maplibregl-popup-content .button {
	width: fit-content;
	font-weight: normal;
}

/* Support Page. */
#support h2 {
	color: var(--white);
}

hr {
	margin: 1rem;
}

/* Colophon Page. */
.colophon {
	list-style: none;
	text-align: left;
}
.colophon li {
	margin: 1rem 0;
}
.colophon-logo {
	height: 3rem;
	vertical-align: middle;
	backdrop-filter: blur(1rem);
}

/* Panoramics for Pannellum. */
iframe.pannellum {
	max-width: var(--max-width);
	border: none;
	width: var(--main-width);
	height: 70vh;
	border-radius: var(--radius) var(--radius) 0 0;
}