@font-face {
	font-family: 'varela_roundregular';
	src: url('/fonts/varelaround-regular-webfont.woff2') format('woff2'),
	     url('/fonts/varelaround-regular-webfont.woff')  format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'varela_roundregular', sans-serif;
	font-size: 1.25em;
	margin: 1em;
	background-color: #e1ffe9;
	color: #191E20;
	text-align: center;
	overflow-wrap: anywhere;
	word-break: break-word;
}

h1 a{
	font-size: 2rem !important;
	color: #191E20 !important;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
}

canvas {
	width: 800px;
	max-width: 100%;
}

#map{
	width: 1024px;
	height: 400px;
	max-width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	border: 0.1rem solid #191E20;
	border-radius: 1rem;
	overflow-wrap: normal;
	word-break: normal !important;
}

iframe{
	max-width: 100%;
	border: 0.1rem solid #191E20;
}

fieldset {
	width: 0;
	text-align: left;
	margin: auto;
	max-width: 100%;
}



.button-bar {
	margin-bottom: 0.5em;
}

.button-form {
	display: inline;
}

.search {
	width: 40em;
	max-width: 100%;
}

#search-results {
	display: inline-block;
	text-align: left;
}

#search-results ul {
	margin: 1em 0;
	list-style: none;
	padding-left: 0;
}

#search-results li {
	margin-bottom: 1em;
	/* display: table; */
	width: 100%;
}

#search-results a {
	color: #191E20;
}

.search-thumb {
	float: left;
	padding-right: 1em;
}

#header-image {
	width: 1.5em;
	vertical-align: middle;
}

.proxy-image {
	max-width: 100%;
	min-height: 100px;
	height: auto;
	border: 0.1rem solid #191E20;
	border-radius: 1rem;
}

video {
	max-width: 100%;
	min-height: 100px;
	height: auto;
	border: 0.1rem solid #191E20;
	border-radius: 1rem;
}

ol {
	max-width: 48em;
}

textarea {
	max-width: 100%;
	width: 1024px;
	border-radius: 1rem;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	font-weight: normal;
}

a {
	color: #8C35B0;
}

hr {
	clear: both;
}

.leaflet-control-layers-base{
	text-align: left;
}

.benchImage{
	position: relative;
	text-align: center;
}

#benchImage{
	position: relative;
	text-align: center;
}

.caption-heading {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0.5em;
}


.caption {
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.4em;
	font-size: 0.5em;
	max-width: 590px;
	border-radius: 1em;
	margin: auto;
	position: absolute;
	bottom: 1em;
	left: 0;
	right: 0;
	width: max-content;
}

.caption a {
	color: white;
}

input[type="file"] {
	/* font-size: 1rem;
	margin-bottom: 1em; */
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	background: #fff;
}

input, select {
	max-width: 20em;
}

.photo-group {
	overflow-x: auto;
	display: block;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.file_input_button {
	position: relative;
	padding: .25em;
	background-color: #DDD;
}

.upload-prompt {
	border: 0.25em dashed #403F41;
	padding: 0.5em;
	text-align: center;
}

small {
	/* padding: 1em; */
}

#leaderboard-results {
	display: inline-block;
	text-align: left;
}

.avatar {
	vertical-align: middle;
	padding: 0.25rem;
	width: 2em;
}

.leaderboard-list {
	list-style-type: none;
}

#sharing {
	width: 100%;
	text-align: center;
	min-width: 0;
}

.share {
	width: 10%;
	max-width: 3em;
}

#sharing a {
	text-decoration: none;
}

a[rel*="license"] {
	text-decoration: none;
}

#cc-by-sa-logo {
	height: 1.5em;
	margin-top: 0.5em;
}

.colophon-logo {
	vertical-align: middle;
	height: 2.25em;
	margin: .5em;
}

input[type="search"]::placeholder {
	text-align: center;
}

/* https://picnicss.com/documentation#buttons */
.buttonColour {
	background: #8C35B0;
	color: #FFF;
	min-width: 12em;
	text-shadow: .1em .1em #000;
}

.cc-icon {
	vertical-align: middle;
}

#homeIcon {
	vertical-align: middle;
	width: 2em;
}

button:hover, .button:hover, [type="submit"]:hover, .dropimage:hover, button:focus, .button:focus, [type="submit"]:focus, .dropimage:focus {
	/* Keep WCAG contrast level high enough on hover */
	box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.15);
}

#idc-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

#coordinates {
	max-width: 20em;
	text-align: center;
	font-family: monospace;
}

#progressBar {
	width: 100%;
}

output {
	font-family: monospace;
}

#ocr-icon {
	vertical-align: middle;
}

#cc-small {
	display: inline-block;
	max-width: 34em;
}

footer {
	background-color: #e8e8a0;;
	margin-left: -1em;
	margin-right: -1em;
}
